/* CSS Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'IBM Plex Sans Thai', sans-serif;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}